{% extends 'base.html' %}

{% block main %}
    <h4 class="text-center">Отчёт на тему: {{ theme }}</h4>

    <p class="text-secondary">
        Запрос к БД: <small class="text-secondary">{{ query }}</small>
    </p>
    <table class="table table-bordered table-responsive-md">
        <tr class="thead-dark">
            <th>Код</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th colspan="2">Класс</th>
        </tr>
        {% include 'table.html' %}
    </table>
{% endblock main %}