{% extends 'base.html' %}

{% block main %}
    <h4 class="text-center">Отчёт на тему: {{ theme }}</h4>

    <p class="text-secondary">
        Запрос к БД: <small class="text-secondary">{{ query }}</small>
    </p>
    <a href="/" class="text-danger">Назад на главную</a>
    <table class="table table-bordered table-responsive-md">
        <tr class="thead-dark">
            <th>Код</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Класс</th>
        </tr>
        {% for item in students %}
        <tr>
            <td>{{ item.SId }}</td>
            <td>{{ item.SLastName }}</td>
            <td>{{ item.SFirstName }}</td>
            <td>{{ item.SMidName }}</td>
            <td>{{ item.SBirthDate }}</td>
            <td>{{ currentYear - item.CLevel }}"{{ item.Cletter }}" (Код: {{ item.CId }})</td>
        </tr>
        {% endfor %}
    </table>
{% endblock main %}